body {
    margin: 0;
    font-family: 'Oswald', sans-serif;
    font-size: 15px;
}

.container {
    width: 60%;
    margin: auto;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;
}

.header h1 {
    font-size: 2em;
    font-weight: 400;
    margin: 0;
}

.menu {
    display: flex;
    margin-right: -20px;
}

.menu h2 {
    font-size: 1.5em;
    font-weight: 200;
    margin: 0px 20px;
}

.line {
    background: black;
    width: 100%;
    height: 1px;
    margin: 20px 0px 30px 0px;
}

.wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: 1fr;
    /* margin: 30px -5px; */
    overflow: hidden;
}

.wrapper::before {
    content: '';
    width: 0;
    padding-bottom: 100%;
    grid-row: 1 / 1;
    grid-column: 1 / 1;
  }
  
.wrapper > *:first-child {
    grid-row: 1 / 1;
    grid-column: 1 / 1;
}

.frame {
    /* margin: 5px; */
    /* height: 300px; */
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
    /* background: black; */
}



.overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: black;

    opacity: 0;
    -moz-transition: all .2s;
    -webkit-transition: all .2s;
    transition: all .2s;
}

.frame:hover .overlay {
    opacity: .7;
}

.frame > img {
    /* display: none; */
    object-fit: cover;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center; 
}

.frame > p {
    position: absolute;
    z-index: 1;
    color: white;
    margin: 0;
    font-size: 1.5rem;
    bottom: 16px;
    left: 24px;

    opacity: 0;
    -moz-transition: all .2s;
    -webkit-transition: all .2s;
    transition: all .2s;
}

.frame:hover > p {
    opacity: 1;
}

@media (max-width: 1024px) {

    .container {
        width: 90%;
    }
}

@media (max-width: 480px) {
    .container {
        width: 100%;
    }

    .header {
        margin: 20px 10px;
        flex-direction: column;
    }

    .menu {
        
    }

    .wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        /* grid-template-rows: 1fr 1fr 1fr; */
        grid-auto-rows: 1fr;
        margin: 30px -5px;
        overflow: hidden;
    }
}